

@font-face {
    font-family: starborn;
    src: url(Starborn.ttf);
}

@font-face {
    font-family: ghiblifont;
    src: url(ghiblifont.ttf);
}
@font-face {
    font-family: tommy;
    src: url(tommy_bold.ttf);


}

html{
    cursor: url(body\ cur.cur) , auto;
}

body{
    background-image: url(fondo2.jpg);
    
    
}

.arriba{
    font-family: tommy;
    text-align: center;
    background-color: rgb(196,217,184,255);
    width: 100%;
}
h1{
    color: rgb(99, 128, 54);
    font-family: starborn;
    text-align: center;
    font-size: 50px;
    display: inline;
}

.sub{
    font-family: tommy;
    text-align: center;
    background-color: rgb(196,217,184,255);
    width: 100%;
    display: flex;
    justify-content: center;
 }
 
  

#caminando{
    width: 150px;
    height: 100px;
    float: left;
    margin-right: 5%;
    display: inline;
}

#kikigif{
    width: 150px;
    height: 100px;
    float: right;
    margin-left: 5%;
    display: inline;
}

#aside1{
    width: 10%;
    float: left;
}

#aside2{
    width: 10%;
    float: right;
}

h3{
    font-family: tommy;
}

img{
    height: 100%;
    width: 100%;
}

#imgboton{
    height: 100px;
    width: 100px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: url(img\ cur.cur) , auto;
}

#ghibli_div{
    height: 40px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.posters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-right: 2px;
    margin-left: 2px;
}

.post{
    padding: 4px;
    cursor: url(img\ cur.cur) , auto;
}

a{
    cursor: url(img\ cur.cur) , auto;
}

.textoparque{
    text-align: left;
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
}

iframe{
    margin-left: 5%;
}

.side {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
}

.button-56 {
  align-items: center;
  background-color: rgb(224, 231, 214);
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(99, 128, 54);
  display: flex;
  font-family: starborn;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: url(img\ cur.cur) , auto;
}

.button-56:after {
  background-color: rgb(99, 128, 54);
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

a {
    color: rgb(99, 128, 54);
    text-decoration: none
}

/*800 px*/
@media (max-width: 800px) {

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 25px;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    h3{
        font-size: 20px;
        text-align: left;
        margin-top: 0%;
        margin-bottom: 0;
        margin-right: 5%;
    }
    .posters{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
        }
    
    .post{
        padding: 5px;
        cursor: url(img\ cur.cur) , auto;
    }
    iframe{
        margin-left: 5%;
        height: 75%;
        width: 100%;
    }
    .button-56 {
        font-size: 13px;
        height: 50%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

     }
     .button-56:after{
        height: 24px;
        left: 0;
        width: 100%;
     }
    
}

/*600 px*/
@media (max-width: 600px) {

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 20px;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    #caminando{
        height: 25%;
        width: 25%;
    }
    #kikigif{
        height: 25%;
        width: 25%;
        margin-top: 5%;
    }

    h3{
        font-size: 15px;
        text-align: left;
        margin-top: 0%;
        margin-bottom: 0;
        margin-right: 5%;
    }
    .posters{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        }
    
    .post{
        padding: 5px;
        cursor: url(img\ cur.cur) , auto;
    }
    iframe{
        margin-left: 5%;
        height: 75%;
        width: 100%;
    }
    .button-56 {
        font-size: 13px;
        height: 25%;
        width: 20%;
        margin-left: auto;
        margin-right: auto;

     }
     .button-56:after{
        height: 100%;
        left: 0;
        width: 100%;
     }
    
}

/* 400 px*/
@media (max-width: 600px) {

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 15px;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    #caminando{
        height: 25%;
        width: 25%;
    }
    #kikigif{
        height: 25%;
        width: 25%;
        margin-top: 5%;
    }

    h3{
        font-size: 15px;
        text-align: left;
        margin-top: 0%;
        margin-bottom: 0;
        margin-right: 5%;
        line-height: 85%;
    }
    .posters{
        display: grid;
        grid-template-columns:  1fr 1fr;
        }
    
    .post{
        padding: 5px;
        cursor: url(img\ cur.cur) , auto;

    }
    iframe{
        margin-left: 5%;
        height: 75%;
        width: 100%;
    }
    .button-56 {
        font-size: 13px;
        height: 25%;
        width: 20%;
        margin-left: auto;
        margin-right: auto;

     }
     .button-56:after{
        height: 100%;
        left: 0;
        width: 100%;
     }
    
}
